/* ================================= 
  Media Queries
==================================== */

@media (min-width: 1025px) {

	.sections {
		width: 33.333333333%;
		height: 500px;
		float: left;
	    padding: 2%;
	}

	.container {
		width: 90%;
		margin: 0 auto;
	}
	

} /* END Large Media Query */