.footer-info {
	font-weight: bold;
}

.main-footer {
	background-color: #{$main-bg};
	padding: 19% 0;

	@include tablet {
		padding: 4% 0;
	}

	hr {
		@include tablet {
			width: 85%;
		}		
	}
}

.footer-text {
	@include tablet {
		font-size: 1.2em;
		padding: 0 15%;	
	}
}

.foot-nav {
	display: none;

	@include tablet {
		display: inline-block;
    	float: right;
    	margin-right: 7.5%;
	}

	li {
		@include tablet {
			float: left;
			padding: 0 10px;	
		}
	}
}

.jose-bot,
.top-link {
	font-weight: bold;
	font-size: .85em;
}

.jose-bot {
	float: left;
	margin-left: 7.5%;
}

.top-link {
	float: right;
	margin-right: 7.5%;

	@include tablet {
		display: none;
	}
}