.profile-pic {
	width: 100%;

	@include tablet {
		float: right;
		width: 30%;
		padding-bottom: 5%;
	}
}

.main-header {
	@include tablet {
		background-color: #{$main-bg};
		padding-top: 1%;
	}
}

.main-nav {
	margin-top: 5px;
	font-weight: bold;

	@include tablet {
		width: 303px;
		margin: 0 auto;
	}

	@include desktop {
		float: right;
		padding-right: 5%;
		width: auto;
	}

	li {
		@include tablet {
			float: left;
			display: inline-block;
		}
	}
}

.main-nav a {
	display: block;
	@extend %center;
	padding: 10px 15px;
}

.main-nav a {
	font-size: #{$font-95er};
	text-transform: uppercase;
}

.main-nav a:hover {
	color: #093a58;
}

.head-info {
	@include tablet {
		padding: 5%;
		margin-bottom: 5%;	
	}
}

.head-snippet {
	@include tablet {
		float: left;
		width: 70%;
		text-align: left;
		padding-right: 2%;
		padding-bottom: 5%;
	}

	@include desktop {
		font-size: 1.1em;
	}
}

.name {
	font-weight: bold;

	@include desktop {
		float: left;
		padding-left: 5%;
	}
}
