* {
	box-sizing: border-box;
}

body {
	font-family: #{$default-font-family};
	@include text(1em, 1.6, #3a3a3a);

	@include desktop {
		background: #{$main-bg};	
	}
}

p {
	font-size: #{$font-95er};
	margin-bottom: 1.8em;
	@extend %center;
}

h1,
h2,
h3,
a {
	color: #093a58;
	@extend %center;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h2,
h3,
h4 {
	margin-top: 0;
}

h4 {
	margin-bottom: .4em;
}

img {
	max-width: 100%;
}

.clearfix::after {
	content: " ";
	display: table;
	clear: both;
}